body { 
    width: 100%;
    height: auto;
    font-family: 'Abril Fatface', cursive;
    font-size: 18px;
    margin: -60px auto;
}


.container-fuild {
    font-family: 'Abril Fatface', cursive;
    margin:-30px;

}

.container-image {
    margin-top: 50px;
}

.tab-pane {
    text-align: center;
    margin-top: 50px;
}

.navbar-header {
   
    margin: 0 auto 0;
    padding-top: 0px;
    text-align: center;
    width: 70px;
    
}

.navbar-brand {
    float:none;
}


.fish-logo {
    margin-top: -25px;
    
}

/*.container-header {
    margin-top: 70px;
}*/


.collapse .navbar-collapse {
    position: absolute !important;
    width: auto;
    float: none;
}

.navbar.navbar-default {
    border-width:0px;
    /*background: rgb(242, 85, 44);*/
} 

.nav .navbar-nav .nav .nav-pills .navbar-right {
    margin: 0;
    border:0px;
    border-bottom-color: transparent !important;
}


.collapse {
    background-color: transparent;
}

.button-icon {
    margin-top: 0px;
    padding-top: 20px;
    min-height: 100%;
    text-align: center;
    font-size: 20px;
}

.img-responsive {
     max-width: 80%;
     height: auto;
     /*display: block*/
     margin: 5px auto;
 }

.modal-title {
    text-align: center;
}

.header-container {
    padding-left: 40px;
    margin-left: 50px;
}

 /* carousel  less than 600px*/
 @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
   }
 
 /* fix padding under menu after resize */
    @media screen and (max-width: 767px) {
        body { padding-top: 60px; }
    }
    @media screen and (min-width:768px) and (max-width: 991px) {
        body { padding-top: 110px; }
    }
    @media screen and (min-width: 992px) {
        body { padding-top: 60px; }
    }

.block{
		border: 0px solid #000000;
		padding-top: 50px;
		padding-bottom: 20px;
		overflow: hidden;
	}

/*carusole index.html*/
.carousel-inner img {
      width: 100%;
      margin: auto;
      min-height:100%;
  }

#myCarousel{
    margin: auto;
    width: 100%;
    
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

/* form style*/
.form-group .control-label .form-control {
    width: 100%;
}

/*footer style*/
.footer{
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  text-align: center;
  margin-top: 100px;
  background: rgb(242, 85, 44);
}

.footer p {
    text-align: center;
    margin: 20px auto;
    color: #fff;
}


/*map google at fish html*/
.container-map {
    margin-top: 50px;
    text-align: center;
}

 #map {
        height: 400px;
        width: 80%;
        margin-top: 20px;
        margin: 0 auto;
        
 }
 
 /*fish page myImage*/
 #myImage #fishImage{
     width: 250px;
     height: 200px;
     margin: 0 auto;
 }
 .click-button {
     color: #FF0000;
 }
 
/*navbar change color*/ 
 .navbar-default > li > a:hover, .navbar-default > li > a:focus {
color: #004d00;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: #ffffff; /*BACKGROUND color for active*/
background-color: #f03c0f;
}

  .navbar-default {
    background-color: #f2552c;
    border-color: #f03c0f;
}

  .dropdown-menu > li > a:hover,
  .dropdown-menu > li > a:focus {
    color: #ffffff;
   text-decoration: none;
  background-color: #f03c0f;  /*change color of links in drop down here*/
   }

 .nav > li > a:hover,
 .nav > li > a:focus {
    text-decoration: none;
    background-color: #f03c0f; /*Change rollover cell color here*/
  }


  .navbar-default .navbar-nav > li > a {
   color: #ffffff; /*Change active text color here*/
    }



/*index thumbnails*/
.container-fluid-thumbnails {
    margin: 0 auto;
    margin-top: 30px;
}

.thumbnails {
    float: left;
}

.span4 {
    margin-left: 80px;
    margin-top: 10px;
}

.caption {
    display: block;
    width:  180px;
    height: auto;
    overflow: hidden;
}

/*/////////animation//////////////*/

.box {
    margin-top: 150px;
    background: #FFDAB9;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 10px;
    left: 10px;
}
.box2 {
  margin-top: 300px;
  background: #9ACD32;
  position: absolute;
  margin-left:390px;
}

#contaier-anime {
    width: 300px;
    height: auto;
    margin: 0 auto;
}


/*anime contorller*/
canvas {
    border:1px solid #d3d3d3;
    background-color: #FFE4E1;
    margin: 0 auto;
}

#body-js {
    width: auto;
    height: 400px;
}

.text-anime {
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
}

/*========================================================================*/
/*=========================form javascript ======================================*/

 /*#container-box {
                width: 320px;
                margin: 0 auto;
                background: #c8ccd1;
            }*/
            
            .container-gene {
                width: 300px;
                height: auto;
                margin: 30px auto;
                border-color: 1px solid #c8ccd1;
                background: #c8ccd1;
                text-align: center;
            }
        .input-text {
            margin-left: 500px 0px;
            text-align: center;
        }
            
       .input[type="text"]{
                width: 300px;
                margin: 0 auto;
                padding: 7px;
                border-radius: 3px;
                border-color: solid 1px #d1483e;
                font-size: 20px;
                font-family: 'Courier New', sans-serif;
                text-align: center;
                
            }
            #btn {
                width: 300px;
                color: #ffff;
                background: #00aaff;
                padding: 7px;
                border-radius: 15px;
                box-shadow: 0 5px 0 #00888c;
                cursor: pointer;
                text-align: center;
                margin: 0 auto;
            }
            #btn:hover {
                opacity:0.8;
            }
            fieldset {
                width:300px;
                height: 200px;
                margin-top: 30px;
                margin-left: 20px auto;
                border: 2px dashed 	#a2a9b1;
                border-radius: 15px;
                text-align: center;
            }
            legend {
                font-weight: bold;
                padding: 0 10px;
            }
            fieldset  p {
                text-align: center;
            }